# 1. Pandas를 가져오고 버전을 확인하는 방법은? 
#### 난이도 : L1

In [1]:
#my_answer

import pandas as pd

print(pd.__version__)

1.5.3

# 2. list, numpy 배열 및 dict에서 시리즈를 만드는 방법은?
#### 난이도 : L1
#### list, numpy 및 dict의 각 항목에서 Series를 만듭니다

In [2]:
#input 
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [4]:
#my_answer

ser_mylist = pd.Series(mylist)
ser_myarr = pd.Series(myarr)
ser_mydict = pd.Series(mydict)

print(ser_mydict.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

# 3. Series의 인덱스를 데이터 프레임의 열로 변환하는 방법은? 
####난이도 : L1 
####Series를 ser 데이터 프레임의 다른 열로 인덱스가 있는 데이터 프레임으로 변환합니다

In [5]:
#input

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [7]:
#my_answer

ser_df = pd.DataFrame(ser, columns=['index'])
print(ser_df.head())


# 문제를 잘 못 봤다...
# 데이터 프레임으로 변환하는 방법에는 
# pd.DateFrame(ser)과 ser.to_frame() 방법이 있습니다
# 변환 후 다른열로 인덱스가 있는 데이터 프레임으로 변환하는게 문제이기 때문에 reset_index()를 이용하여 인덱스를 추가해여 주는 모습이다
# reset_index()는 인덱스를 새로 추가할 때도 사용하지만
# 데이터 프레임 전처리 후(삽입,삭제 등) 뒤죽박죽 된 인덱스를 새로 지정할때도 사용한다.

   index
a      0
b      1
c      2
e      3
d      4

In [8]:
#Solution

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

# 4. 많은 Series를 결합하여 데이터 프레임을 형성하는 방법은?
#### 난이도 : L1
#### ser1과 ser2를 결합하여 데이터 프레임을 형성합니다.

In [9]:
#input

import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [19]:
#my_answer

ser_df = pd.concat([ser1, ser2]).to_frame().reset_index()
ser_df.head()

   index  0
0      0  a
1      1  b
2      2  c
3      3  e
4      4  d

In [17]:
# Solution 1
df = pd.concat([ser1, ser2], axis=1)
print(df.head())


# axis=0 가로 결합 (기본 값)
# axis=1 새로 결합

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [18]:
# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

# 5. 시리즈의 색인에 이름을 지정하는 방법은 무엇입니까?
#### 난이도 : L1
#### Series에 이름을 'alphabets'이라고 지정하세요

In [23]:
#input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [25]:
#my_answer

ser.rename('alphabets').head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [26]:
# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

# 6. Series B에 없는 Series A의 아이템을 얻는법은?
#### 난이도 : L2
#### ser2에 있는 항목을 ser1에서 제거합니다.

In [92]:
#input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [72]:
#my_answer

index = 0
for i in ser1:
    for j in ser2:
        if i == j:
            del ser1[index]
            break
    index += 1
print(ser1)

0    1
1    2
2    3
dtype: int64

In [58]:
# Solution
ser1[~ser1.isin(ser2)]

# ~기호는 부울 마스크를 부정하고 'True' 마스크에 있는 요소를 선택할 때 사용된다.

0    1
1    2
2    3
dtype: int64

In [101]:
import pandas as pd

df = pd.DataFrame([{'User':'Alice', 'Age':22},
                   {'User':'Bob', 'Age':24}])
df

    User  Age
0  Alice   22
1    Bob   24

In [102]:
df = df[~df['User'].str.contains('A')]
df

  User  Age
1  Bob   24